# Dependency directories
node_modules

# TypeScript v1 declaration files
typings

# TypeScript cache
*.tsbuildinfo

# Database data
database/data

# nyc test coverage
.nyc_output

# Logs
backend/logs

# Transpiled files folder
dist
